pandas==2.2.3
numpy==2.1.2
scikit-learn==1.5.2
streamlit==1.37.1
spacy==3.7.5
rapidfuzz==3.9.6
requests==2.32.3
tqdm==4.66.5
yfinance==0.2.44
plotly==5.24.1
matplotlib==3.9.2
python-dateutil==2.9.0.post0
SQLAlchemy==2.0.36
pydantic==2.9.2
